TEAM_MCP_MESSAGE_DIR=
TEAM_MCP_SESSION_TTL=24h
TEAM_MCP_TOOL_DESK_CREATE_DESC=
TEAM_MCP_TOOL_TOPIC_CREATE_DESC=
TEAM_MCP_TOOL_TOPIC_LIST_DESC=
TEAM_MCP_TOOL_MESSAGE_CREATE_DESC=
TEAM_MCP_TOOL_MESSAGE_LIST_DESC=
TEAM_MCP_TOOL_MESSAGE_GET_DESC=
TEAM_MCP_SYSTEM_PROMPT=
TEAM_MCP_LOG_LEVEL=info
TEAM_MCP_LIFECYCLE_COLLECT_INTERVAL=60s
